@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
code,
pre {
  font-family: "Roboto Mono", monospace;
  color: blue;
}
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
