@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background-color: whitesmoke;
}
code,
pre {
  font-family: "Roboto Mono", monospace;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
.nt_A {
  color: green;
}
.nt_T {
  color: green;
}
.nt_C {
  color: black;
}
.nt_G {
  color: black;
}
.nt_N {
  color: red;
}
.nt_ {
  color: inherit;
}
.info {
  background-color: #cfd8dc;
  margin-top: 6px;
  margin-right: 12px;
  padding: 3px;
  border-radius: 3px;
  font-size: 0.85em;
}
